/*
 * Setup
 */

* {
  margin:0;
  padding:0;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #fafafa;
}

h1 {
  font-size: 3em;
  font-weight: 300;
  margin: 48px 0 12px 0;
}

a {
  text-decoration: none;
}

p a {
  color: #CCCCDD;
  -webkit-transition: all 0.2s;
}

p a:hover {
  color: #fafafa;
}

body {
  background-color: #131320;
}

.hide {
  visibility: hidden;
}

/*
 * layout
 */

#container {
  display:none;
  margin: 0 auto;
  padding: 48px 0;
  text-align: center;
  min-height: 100%;
}

/*
 * error messaging
 */

#noJs,
#intro {
  text-align:center;
  margin-top: 12px;
}

#intro,
#notSupported,
#noCamera {
  display: none;
}

/*
 * capture
 */

#capture {
  position:relative;
  width:640px;
  margin: 0 auto;
}

#capture video {
  z-index:0;
}

#capture canvas {
  position:absolute;
  top:0;
  left:0;
  z-index: 50;
}

#hiddenCanvas {
  position:absolute;
  top:0;
  left:0;
}

video {
  -moz-filter: opacity(0.5);
  -webkit-filter: opacity(0.5);
  filter: opacity(0.5);
}

/*
 * results
 */

#results {
  width:645px;
  margin: 0 auto;
}

ul#snapShots {
  list-style: none;
}

ul#snapShots li {
  display: inline-block;
  margin:2px 2.5px 0 2.5px;
}

ul#snapShots li a img,
img.demo {
  width:124px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

img.demo {
  margin-top: 32px;
  margin-bottom: 32px;
}

ul#snapShots li a:hover img {
  -webkit-filter: brightness(125%);
  filter: brightness(125%);
}

/*
 * controls
 */

#controls {
  padding:20px 0;
  display: none;
}

#frameRate,
#dirToggle {
  border: none;
  background-color: #555566;
  padding: 3px 6px;
  width: 30px;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
}

#reTrigger,
#trigger {
  background-color: #556655;
  padding: 10px;
  width: 30px;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  display: none;
}

#trigger {
  margin: 32px auto;
  width: 80px;
}

#reTrigger:hover,
#dirToggle:hover,
#trigger:hover {
  -webkit-filter: brightness(125%);
}
